<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Exercice HTML</title>
	</head>
	
	<body>

<style>
ul{color:red}
li {color:black}

</style>		

<!-- Liste à puces -->

<h1> Nom Prénom</h1>

<ul>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>


<!-- Liste ordonnée -->
<ol>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ol>

<!-- Ecrire le code de votre exercice  -->

<ol> 
<li>Véhicule 
	<ul>
	<li> Voiture </li>
	<li> Camion </li>
	<li> Scooter </li>
</ul>
</li>


<li> Hébergements 
<ul>	
	<li> Maison </li>
	<li> Cabane </li>
	<li> Appartement </li>
</ul>
</li>
<li> Animaux 

<ul>
	<li> Chien</li>
	<li>Chat</li>
	<li>Poisson</li>

</ul>
	</li>
</ol>

</body>

</html>
