<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Exercice HTML</title>
		<style>
p{color:#C0392B;}
h2{color:black;}

</style>
	</head>
	
	<body>

		

<!-- Liste à puces -->

<h1> Nom Prénom</h1>

<ul>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>


<!-- Liste ordonnée -->
<ol>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ol>

<!-- Ecrire le code de votre exercice  -->

<ol> 
<li> <h2>Véhicule </h2>
	<ul>
	<li> <p>Voiture </p></li>
	<li> <p>Camion </p></li>
	<li><p> Scooter </p> </li>
</ul>
</li>


<li> <h2> Hébergements </h2>
<ul>	
	<li><p> Maison </p> </li>
	<li><p> Cabane</p> </li>
	<li> <p> Appartement </p> </li>
</ul>
</li>
<li> <h2> Animaux </h2>

<ul>
	<li><p> Chien </p></li>
	<li><p>Chat </p></li>
	<li> <p>Poisson </p> </li>

</ul>
	</li>
</ol>

</body>

</html>
