
<html>
  <head>
    
  </head>
<body>
<h1>Exercice 4</h1>

  <form action="#">
<fieldset>

<p>prénom</p>
<p>Nom</p>
<p>Adresse</p>
  <p>Date de naissance</p>
</br>

<h3> Formation </h3>
</hr>
<ul>
  <li> 2000-2001 </li>
  <li> 2000-2001 </li>
</ul>
</br>
  <h3> Expérience professionnel </h3>
</hr>
<ul>
  <li> 2000-2001 </li>
  <li> 2000-2001 </li>
</ul>
</br>
  <h3> Compétences </h3>
</hr>
<ul>
  <li> 2000-2001 </li>
  <li> 2000-2001 </li>
</ul>
  </br>
  <h3> information complémentaire</h3>
</hr>
<ul>
  <li> 2000-2001 </li>
  <li> 2000-2001 </li>
</ul>
</fieldset>

</form>

</body>
</html>
