


  <html>
	<head>
		<meta charset="UTF-8"/>
		<title>Exercice HTML</title>
		<style>
table {
           border : 2px solid grey;
	width: 800px;
        }
        td {
            border: 2px solid black;
            width: 150px;
		border-spacing:10px;
		
		
        }
	.red {
		color : red;
	}

</style>
	</head>
	
	<body>
	</br>
	</br>
	<h1>Exercice 2</h1>	
<table>

<tr>
<td>un tableau</td>
<td colspan="2"></td>	
<td colspan="2"> </td>
	
</tr>
<tr>	
<td colspan="2"></td>
<td colspan="2">à 5</td>
<td colspan="2"> cases</td>
</tr>

</table>
</br>
<div class= red>
	<p> Une liste </p>
</div>
	</br>
	

 <table>
        <tr>
            <td colspan="2">un autre tableau</td>
            <td colspan="2"></td>
          <td colspan="2"></td>
           <td colspan="2"></td>
        </tr>
        <tr>
<td rowspan="3"> </td>
	
<td colspan="2"></td>		

		
	</tr>
         <tr>
<td colspan="2"></td>
		 <td colspan="2"></td>
    <td colspan="2">cellule1</td>
   <td colspan="2"></td>
  </tr>
  <tr>
	  <td colspan="2"></td>
	  <td colspan="2"></td>
    <td>cellule2</td>
    <td>cellule3</td>
  </tr>      
            
    </table>
</body>


</html>
