
<html>
<body>
<h1>Exercice 2</h1>

  <html>
	<head>
		<meta charset="UTF-8"/>
		<title>Exercice HTML</title>
		<style>
table {
           border : 2px solid grey;
        }
        td {
            border: 2px solid black;
            
        }
	.red {
		color : red;
	}

</style>
	</head>
	
	<body>
	</br>
	</br>
		
<table>

<tr>
<td>un tableau</td>
<td></td>	
<td></td>
	
</tr>
<td></td>
<td>à 5</td>
<td> cases</td>


</table>
</br>
<div class= red>
	<p> Une liste </p>
</div>
</body>

</html>

</body>
</html>
