


  <html>
	<head>
		<meta charset="UTF-8"/>
		<title>Exercice HTML</title>
		<style>
table {
           border : 2px solid grey;
	width: 800px;
        }
        td {
            border: 2px solid black;
            width: 150px;
		border-spacing:10px;
		
		
        }
	.red {
		color : red;
	}

</style>
	</head>
	
	<body>
	</br>
	</br>
	<h1>Exercice 2</h1>	
<table>

<tr>
<td>un tableau</td>
<td colspan="2"></td>	
<td colspan="2"> </td>
	
</tr>
<tr>	
<td colspan="2"></td>
<td colspan="2">à 5</td>
<td colspan="2"> cases</td>
</tr>

</table>
</br>
<div class= red>
	<p> Une liste </p>
</div>
	</br>
	

 <table>
        <tr>
            <td >un autre tableau</td>
            <td ></td>
          <td ></td>
		<td ></td>
        </tr>
        <tr>
<td rowspan="3"> </td>
	
<td ></td>		
<td rowspan="3"> </td>
<td colspan="2">cellule1</td>
		
	</tr>
      
  <tr>
	  <td></td>

    <td>cellule2</td>
    <td>cellule3</td>
  </tr>      
            
    </table>
		<h1>Exercice 3</h1>


		<h2>Mozilla</h2>

<form action="#">
<fieldset>
<legend></legend>

<p> Votre pseudo : <input name="A" type="Text" value=""/></p>
</br>
<p> Votre mot de passe : <input name="A" type="Text" value=""/></p>
	</br>
<p> Ressaisir votre mot de passe : <input name="A" type="Text" value=""/></p>

</br>

<p>OS preferé </p>
<p><input name="D" type="radio" value="Rouge"/> Windows XP </p>
<p><input name="E" type="radio" value="Jaune"/> Windows vista </p>
<p><input name="F" type="radio" value="Bleu"/> Mac OS X </p>
<p><input name="F" type="radio" value="Bleu"/> linux </p>
<p><input name="F" type="radio" value="Bleu"/> Autre </p>
</br>
	<p>Vous possedez :  </p>
<p><input name="D" type="checkbox" value="Rouge"/> Ordinateur de bureau</p>
<p><input name="E" type="checkbox" value="Jaune"/> Un portable </p>
<p><input name="F" type="checkbox" value="Bleu"/> netbook </p>
<p><input name="F" type="checkbox" value="Bleu"/> tablette (Pad) </p>
</br>
	<p> Votre profession : </p>
<select name="profession">
	
            <option value="chomeur">chomeur</option>
            <option value="etudiant"> etudiant </option>
            <option value="fonctionnaire">fonctionnaire</option>
            <option value="privé">privé</option>
            <option value="retraité">retraité</option>
        </select>
</br>
<p><input type="submit" value="s'inscrire" />

</p>
</fieldset>

</form>


</body>


</html>
