
<html>
<head>

</head>

<body>

<svg width="750" height="750" style="background-color:	rgba(200,200,200, 0.5)">
<circle style="fill:green; stroke:black; stroke-width:2px;" cx="100" cy="150" r="40" />
<circle style="fill:blue; stroke:black; stroke-width:2px;" cx="150" cy="170" r="40" />
  <circle style="fill:brown; stroke:black; stroke-width:2px;" cx="200" cy="190" r="40" />
  <circle style="fill:pink; stroke:black; stroke-width:2px;" cx="250" cy="215" r="40" />
  <circle style="fill:yellow; stroke:black; stroke-width:2px;" cx="200" cy="250" r="40" />
  <circle style="fill:grey; stroke:black; stroke-width:2px;" cx="170" cy="215" r="40" />
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="130" cy="170" r="40" />
  <circle style="fill:light-green; stroke:black; stroke-width:2px;" cx="140" cy="140" r="40" />
</svg>

</body>
</html>
