
<html>
<head>

</head>

<body>

<svg width="750" height="750" style="background-color:	rgba(200,200,200, 0.5)">
<circle style="fill:green; stroke:black; stroke-width:2px;" cx="100" cy="150" r="50" />
<circle style="fill:blue; stroke:black; stroke-width:2px;" cx="190" cy="190" r="50" />
  <circle style="fill:brown; stroke:black; stroke-width:2px;" cx="280" cy="150" r="50" />
  <circle style="fill:pink; stroke:black; stroke-width:2px;" cx="368" cy="200" r="50" />
  <circle style="fill:yellow; stroke:black; stroke-width:2px;" cx="440" cy="270" r="50" />
  <circle style="fill:grey; stroke:black; stroke-width:2px;" cx="368" cy="342" r="50" />
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="268" cy="345" r="50" />
  <circle style="fill:light-green; stroke:black; stroke-width:2px;" cx="165" cy="345" r="50" />

<circle style="fill:white; stroke:black; stroke-width:2px;" cx="90" cy="100" r="8" />
 <circle style="fill:white; stroke:black; stroke-width:2px;" cx="90" cy="85" r="8" /> 
   <circle style="fill:white; stroke:black; stroke-width:2px;" cx="110" cy="100" r="8" /> 
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="110" cy="85" r="8" />


  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="210" cy="240" r="12" />
   <circle style="fill:white; stroke:black; stroke-width:2px;" cx="180" cy="240" r="12" />


<circle style="fill:white; stroke:black; stroke-width:2px;" cx="290" cy="200" r="12" />
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="260" cy="200" r="12" />
  
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="370" cy="250" r="12" />
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="340" cy="250" r="12" />
  
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="435" cy="320" r="12" />
   <circle style="fill:white; stroke:black; stroke-width:2px;" cx="460" cy="315" r="12" />
  
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="365" cy="392" r="12" />
    <circle style="fill:white; stroke:black; stroke-width:2px;" cx="395" cy="392" r="12" />
  
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="250" cy="395" r="12" />
    <circle style="fill:white; stroke:black; stroke-width:2px;" cx="280" cy="395" r="12" />
  
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="145" cy="395" r="12" />
 <circle style="fill:white; stroke:black; stroke-width:2px;" cx="175" cy="395" r="12" />

  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="60" cy="130" r="8" />
 <circle style="fill:white; stroke:black; stroke-width:2px;" cx="80" cy="130" r="8" /> 
    <circle style="fill:black; stroke:black; stroke-width:1px;" cx="80" cy="130" r="2" />
 <circle style="fill:black; stroke:black; stroke-width:1px;" cx="100" cy="130" r="2" /> 
  
</svg>

</body>
</html>
