
<html>
<head>

</head>

<body>

<svg width="750" height="750" style="background-color:	rgba(200,200,200, 0.5)">
<circle style="fill:green; stroke:black; stroke-width:2px;" cx="100" cy="150" r="70" />
<circle style="fill:blue; stroke:black; stroke-width:2px;" cx="105" cy="170" r="70" />
  <circle style="fill:brown; stroke:black; stroke-width:2px;" cx="105" cy="170" r="70" />
  <circle style="fill:pink; stroke:black; stroke-width:2px;" cx="105" cy="170" r="70" />
  <circle style="fill:yellow; stroke:black; stroke-width:2px;" cx="105" cy="170" r="70" />
  <circle style="fill:grey; stroke:black; stroke-width:2px;" cx="105" cy="170" r="70" />
  <circle style="fill:white; stroke:black; stroke-width:2px;" cx="105" cy="170" r="70" />
  <circle style="fill:light-green; stroke:black; stroke-width:2px;" cx="105" cy="170" r="70" />
</svg>

</body>
</html>
