<link rel="stylesheet" href="../static/css/style.css">

<html>
<body>
<h1> CV </h1>
  </br>
  </br>
  </br>
  <h3> Martin Durand</h3></br>
  </br>
  <h2>Ingénieur réseau</h2></br> </br>
  <p> Expérience de 10 ans en tant que Administrateur système et réseau</p>
  <h4> Expériences professionel : </h4>
  <ul>Administrateur réseau 2016 -2024 à DURAND Construction</ul>
  <ul> Administrateur système et réseau 2014-2016 Mairie de Bagneux</ul>
  </br>
  <h4> Formations : </h4>
  </br>
  <ul>Master en Informatique option Réseau 2008 - 2013 à Université Jussieu</ul>
  <ul> Bac S obtenu en 2008 à Lycée De Gaulle à Bagneux</ul>
  </br>
  <h4> Compétences : </h4>
  </br>
  <ul> Linux</ul>
  <ul> Réseau : Installation et administration</ul>
</body>
</html>
