<html>
<head>

</head>

<body>

<svg width="850" height="850" style="background-color:	rgba(200,200,200, 0.5)">
<circle id="foo" style="fill:yellow; stroke:black; stroke-width:3px;" cx="700" cy="100" r="50" />
<rect style="fill:orange; stroke:black; stroke-width:2px;" x="230" y="200" width="200" height="300" />
<polygon style="fill:red; stroke:black; stroke-width:2px;" points="0 0, 100 300, 0 100"/>
  <line x1="100" y1="0" x2="0" y2="120" style="stroke:black; stroke-width:1;" />
</svg>

</body>
</html>
