<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Exercice HTML</title>
		<style>
li>ul{color:red}

</style>
	</head>
	
	<body>

		

<!-- Liste à puces -->

<h1> Nom Prénom</h1>

<p>Exercice 1 :</p>
<!--Transformer cette suite de paragraphes en une liste à puces. -->

   <ul>Mes cocktails préférés
   <li>Mojito</li>
   <li>Gin Fizz</li>
   <li>Bloody mary</li>
   <li>Long Island Iced Tea</li>
</ul>

		<p>EXERCICE 2 :</p>
<!--Corriger les problèmes -->

   <h1> <span>Mes cocktails préférés</span> </h1>
   <p>Mojito</p>
   <p>Gin Fizz</p>
   <p>Bloody mary</p>
   <p>Long Island Iced Tea</p>
</body>

</html>

