<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Exercice HTML</title>
		<style>
li>ul{color:red}

</style>
	</head>
	
	<body>

		

<!-- Liste à puces -->

<h1> Nom Prénom</h1>

<p>Exercice 1 :</p>
<!--Transformer cette suite de paragraphes en une liste à puces. -->

<ul>Mes cocktails préférés
   <li>Mojito</li>
   <li>Gin Fizz</li>
   <li>Bloody mary</li>
   <li>Long Island Iced Tea</li>
</ul>
	</br>
		<p>Exercice 2 :</p>
<!--Corriger les problèmes -->

   <h1> <span>Mes cocktails préférés</span> </h1>
   <p>Mojito</p>
   <p>Gin Fizz</p>
   <p>Bloody mary</p>
   <p>Long Island Iced Tea</p>
	</br>

		<p>Exercice 3 :</p>
<!--Ajouter un lien dans les paragraphes pour les différents cocktails (faites une recherche sur Internet).-->

<p>Le Moscow mule est un cocktail à base de vodka, de bière de gingembre épicée et de jus de citron vert, accompagné d'une rondelle de citron.<a href='https://www.destinationcocktails.fr/recette/moscow-mule/'> la recette ici </a></p>
<p>Le Long Island Iced Tea est un cocktail à base de tequila, de gin, de vodka, de rhum et de liqueur d'oranges <a href='https://www.destinationcocktails.fr/recette/cocktail-long-island-iced-tea/'>la recette ici </a></p>
</br>
<p>Exercice 4 :</p>
<!--Ajouter un texte alternatif à l'image.-->

   <p>Un French Connection est un cocktail composé de parts égales de cognac et d'amaretto.</p>
   <img src="/static/css/french-connection.png" alt="Texte alternatif."/>

</br>
<p>Exercice 5 :</p>
<!--Ajouter une barre horizontale entre le titre et le paragraphe.-->

   <h1>Mon super titre</h1>
	<hr/>
   <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
   </p>
		
</body>

</html>

