<html>
<head>


</head>
<body>
	<h1>Dresseur de Pokemon</h1>
<p> Les champs marqués d'une * sont obligatoires.</p>
<form action="#">
<fieldset>
<legend>Nouveau dresseur</legend>
<p>Nom * </p>
<p><input name="A" type="Text" value=""/></p>
</br>
<p> Description : </p>
<textarea rows="3" cols="30	" name="H">

</textarea>

</br>

<p>Equipe </p>
<p><input name="D" type="checkbox" value="Rouge"/> Rouge </p>
<p><input name="E" type="checkbox" value="Jaune"/> Jaune </p>
<p><input name="F" type="checkbox" value="Bleu"/> Bleu</p>

<p>Anniversaire*</p> 
<p><input name="B" type="Text" value="jj/mm/aaaa"/></p>

<p><input type="submit" value="Envoyer" />

</p>
</fieldset>

</form>

</body>
</html>
