<html>
<head>


</head>
<body>
	<h1>Dresseur de Pokemon</h1>
<p> Les champs marqués d'une * sont obligatoires.</p>
<form action="#">
<fieldset>
<legend>Nouveau dresseur</legend>
<p>Nom * <input name="A" type="Text" value="Nom ?"/></p>
</br>
<p> Description : </p>
<textarea rows="3" cols="30	" name="H">

</textarea>

</br>

<p>Equipe </p>
<p>Rouge <input name="D" type="checkbox" value="Rouge"/></p>
<p>Jaune <input name="E" type="checkbox" value="Jaune"/></p>
<p>Bleu <input name="F" type="checkbox" value="Bleu"/></p>

<p>Anniversaire*</p> 
<p><input name="B" type="Text" value="jj/mm/aaaa"/></p>

<p><input type="submit" value="Envoyer" />
<input type="reset"/>
</p>
</fieldset>

</form>

</body>
</html>
