<html>
<head>
<script>
function affichage(){
	alert("Tout es OK !");
}
function cacher(){
	document.getElementById('DuTexte').style.display="None";
}
function presenter(){
	document.getElementById('DuTexte').style.display="Block";
}

function controler(){
	if(document.getElementById('Control').checked){
			alert("Bouton option coché");
		}
	else{alert("Bouton option NON coché");}		
}
	function afficherimage(){

		
		if(document.getElementById('image1').checked){
		
	document.getElementById('img1').style.display="block";
		}
		else{
			document.getElementById('img1').style.display="none";}

		if(document.getElementById('image2').checked){
		
	document.getElementById('img2').style.display="block";
		}
		else{
			document.getElementById('img2').style.display="none";}

		if(document.getElementById('image3').checked){
		
	document.getElementById('img3').style.display="block";
		}
		else{
			document.getElementById('img3').style.display="none";}
}

	

</script>
</head>
<body>
<h1>Mes outils</h1>
<hr/>
<h2>Boite de dialogue</h2>
<button onclick="affichage()">Afficher</button>
<hr/>
<p id="DuTexte">Ma phrase de texte</p>
<button onclick="presenter()">Presenter</button>
<button onclick="cacher()">Cacher</button>
<hr/>
<p>Option<input type="checkbox" id="Control"></p>
<button onclick="controler()">Check</button>
	<hr/>
	<div>
<div>
			<input type="checkbox" id="image1">Image 1
			<input type="checkbox" id="image2">Image 2
			<input type="checkbox" id="image3">Image 3
		</div>

<button onclick="afficherimage()">Afficher</button>	
	
	<hr/>
	</br>
<div>
	<img id="img1" src="{{ url_for('static', filename='Im1.png') }}"style="display:none;width: 60px;" alt="">

	</br>
	
	<img id="img2" src="{{ url_for('static', filename='Im2.png') }}"style="display:none;width: 60px;" alt="">

	</br>
	
	<img id="img3" src="{{ url_for('static', filename='Im3.png') }}"style="display:none;width: 60px;" alt="">
</div>
</div>	
</body>
</html>
