
<html>
<head>


</head>
<body>

	<p> Exercice 1 </p>

<h1> Titre de niveau 1</h1>
<h2> Titre de niveau 2 </h2>
<h3> Titre de niveau 3</h3>	
<h3> Titre de niveau 3</h3>
<h2> Titre de niveau 2 </h2>
<h1> Titre de niveau 1</h1>
	
</br>
	<p> Texte en <b> gras</b>, texte en <i> italique</i>, texte<u> souligné</u></p>

</br>
<p> lien vers <a href="actualite.html"> l'actualité et l'exercice 2</a></p>
</br>
<p> Ecrivez moi à <a href="mailto:spastore2@free.fr"> spastore2@free.fr </a ></p>
</br>
	<ol> 
<li> item 1
<ul>
</ul>
</li>


<li> item 2 :
<ul>	
	<li>element 1</li>
	<li>element 2</li>
	
</ul>
</li>
<li>  item 3 

<ul>
</ul>
	</li>
</ol>

</body>
</html>
